aiodns
aiofiles
aiohttp[speedups]
asyncbooru
asyncpraw
cchardet
gTTS
hachoir
heroku3
howdoi
pillow
python-dotenv
psutil
speedtest-cli
tgcrypto
uvloop
https://github.com/Nick80835/Telethon/archive/master.zip