aiodns
aiofiles
aiohttp[speedups]
asyncbooru>=0.0.5
asyncpraw
cchardet
gTTS
hachoir
heroku3
pillow
python-dotenv
psutil
speedtest-cli
tgcrypto
uvloop
https://github.com/Nick80835/Telethon/archive/master.zip